.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 0.4rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  h4 {
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 0.4rem;
    margin-bottom: 0.25rem;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
  }

  h6 {
    font-size: 0.8125rem;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 0.2rem;
  }
}
